<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h2>TellevoApp</h2>
  <ion-item>
    <ion-label position="floating">Usuario</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>
  <ion-button routerLink="/inicio" color="success" expand="full">Iniciar Sesion</ion-button>
  <div class="registro-link">
    ¿Olvidaste tu contraseña? <a routerLink="/restablece">Restablecer contraseña</a>
  </div>

</ion-content>
