<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-searchbar animated="true" placeholder="Animated" show-clear-button="focus"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p>Bienvenido {{ nombreUsuario }}!</p>
  <br>
  
  <div class="card-container">
    <div class="custom-card">
      <ion-icon name="car-sport-outline"></ion-icon>
      <p>Viaje</p>
    </div>
    <div class="custom-card">
      <ion-icon name="calendar-outline"></ion-icon>
      <p>Reserve</p>
    </div>
    
  </div>
  
  
  
 
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="inicio">
        <ion-icon name="home-outline"></ion-icon>
        Inicio
      </ion-tab-button>
      <ion-tab-button tab="solicitar Viaje">
        <ion-icon name="car-sport-outline"></ion-icon>
        Solicitar Viaje
      </ion-tab-button>
      <ion-tab-button tab="Notificaciones">
        <ion-icon name="notifications-outline"></ion-icon>
        Notificaciones
      </ion-tab-button>
      <ion-tab-button tab="accessibility-outline">
        <ion-icon name="accessibility-outline"></ion-icon>
        Cuenta
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
 
</ion-content>
